table {

    color: purple;

    font-style: italic;

    background-color: rosybrown;

    width: 100%;

    border: purple;

}

.bgPrimary {

    background-color: #82c2ff;

    width: 100%;

}

body {

    background-color: blue;

}

img {

    width: 100%;

}

h1 {
    color: blueviolet;
}